@*@model List<BeautiSoft.Models.Venta>*@
<div class="row">
    <div class="col mt-3">
        <a asp-controller="Ventas" asp-action="CrearVenta" class="btn bg-site  mb-3" style="color:white"><i class="fas fa-receipt mr-2"></i>  Crear Venta</a>
        <table class="table table-bordered table-striped table-hover" id="tabla">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Nombre Cliente</th>
                    <th scope="col">Docuemnto Cliente</th>
                    <th scope="col">Cantidad Productos</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>123</td>
                    <td>Keratina</td>
                    <td>50</td>
                    <td>12</td>
                    <td>80.000</td>
                    <td>12/04/2021</td>
                    <td>
                        <div class="d-flex justify-content-between">
                            <i title="Editar" class="far fa-edit text-warning"></i>
                            <i title="Detalle" class="fas fa-book text-success"></i>
                        </div>
                    </td>
                </tr>
                @* @foreach(var Venta in Model)
                    {
                      <tr>
                          <td scope="row" class="text-center">@Venta.Id</td>
                          <td>@Venta.Nombre</td>
                          <td class="text-center">@Venta.Documento</td>
                          <td class="text-center">@Venta.Cantidad</td>
                          <td class="text-center">@Venta.Precio</td>
                          <td class="text-center">@Venta.Fecha</td>
                          <td>
                               <div class="d-flex justify-content-between">
                                   <i title="Editar" class="far fa-edit text-warning"></i>
                                   <i title="Deshabilitar" class="fas fa-user-slash text-danger"></i>
                                   <i title="Detalle" class="fas fa-book text-success"></i>
                               </div>
                           </td>
                      </tr>
                    }*@
            </tbody>
        </table>

    </div>
</div>

@section Scripts{
    <script src="~/DataTable/tabla.js"></script>
}
