@model List<BeautiSoft.Models.Entidades.Venta>
<div class="row">
    <div class="col mt-3">
        <a onclick="mostrarModal('@Url.Action("CrearVenta","Ventas",null,Context.Request.Scheme)','Registrar venta')" class="btn bg-site mb-3" style="color:white"><i class="fas fa-user-plus mr-2"></i>Registrar Venta</a>
        <table class="table table-bordered table-striped table-hover" id="tabla">
            <thead>
                <tr class="text-center">
                    <th scope="col">Producto</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                
                 @foreach(var Venta in Model)
                {
                  <tr>
                      <td>@Venta.Producto.Nombre</td>
                      <td>@Venta.Cliente.Nombre</td>
                      <td class="text-center">@Venta.Cliente.Documento</td>
                      <td class="text-center">@Venta.Cantidad</td>
                      <td class="text-center">@Venta.Precio</td>
                      <td>
                           <div class="d-flex justify-content-between">
                               <i title="Editar" class="far fa-edit text-warning"></i>
                               <i title="Detalle" class="fas fa-book text-success"></i>
                           </div>
                       </td>
                  </tr>
                  }
            </tbody>
        </table>

    </div>
</div>

@section Scripts{
    <script src="~/DataTable/tabla.js"></script>
}
