@model IEnumerable<BeautiSoft.Models.Entidades.Venta>
<div class="row">
    <div class="col mt-3">
        <a onclick="mostrarModal('@Url.Action("CrearVenta","Ventas",null,Context.Request.Scheme)','Registrar venta')" class="btn bg-site mb-3" style="color:white"><i class="fas fa-shopping-bag mr-3"></i>Registrar Venta</a>
        <table class="table table-bordered table-striped table-hover" id="tabla">
            <thead>
                <tr class="text-center">
                    <th scope="col">Producto</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                
                 @foreach(var Venta in Model)
                {
                  <tr>
                      <td>@Venta.Producto.Nombre</td>
                      <td>@Venta.Cliente.Nombre</td>
                      <td class="text-center">@Venta.Cliente.Documento</td>
                      <td class="text-center">@Venta.Cantidad</td>
                      <td class="text-center">@Venta.Precio</td>
                      <td>
                          <div class="d-flex justify-content-between">
                              <a class="text-warning" href="javascript:mostrarModal('@Url.Action("Editar","Ventas",new {VentaID=Venta.VentaId},Context.Request.Scheme)','Editar Venta')"><i title="Editar" class="far fa-edit"></i></a>
                              <a class="text-success" href="javascript:mostrarModal('@Url.Action("Detalle","Ventas",new {VentaID=Venta.VentaId},Context.Request.Scheme)','Detalle Venta')"><i title="Editar" class="fas fa-book"></i></a>
                          </div>
                       </td>
                  </tr>
                  }
            </tbody>
        </table>

    </div>
</div>

@section Scripts{
    <script src="~/DataTable/tabla.js"></script>
}
