<div class="row">
    <div class="col mt-3">
        <a onclick="mostrarModal('@Url.Action("CrearServicio","Servicios",null,Context.Request.Scheme)','Registrar Servicio')" class="btn bg-site mb-3" style="color:white"> <i class="fas fa-balance-scale  mr-2"></i>Registrar servicio </a>

        <table class="table table-bordered table-striped table-hover" id="tabla">
            <thead>
                <tr class="text-center">
                    <th scope="col">Servicio</th>
                    <th scope="col">Detalle</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var servicio in Model)
                {
                    <tr>

                        <td>@servicio.Nombre</td>
                        <td>@servicio.Detalle</td>
                        <td>
                            @if (servicio.Estado)
                            {
                                <span class="badge badge-warning">Activo</span> 

                             }
                            else
                            {
                                <span class="badge badge-danger">deshabilitado</span>
                            }
                        </td>

                        <td>

                            <div class="d-flex justify-content-between">
                                <a class="text-primary" href="javascript:mostrarModal('@Url.Action("ActualizarServicio","Servicios",new {ServicioID=servicio.ServicioID},Context.Request.Scheme)','Editar servicio')"><i title="Editar" class="far fa-edit"></i></a>

                                @if (servicio.Estado)
                                {
                                    <a class="text-danger btn btn-outline-danger" href="javascript:cambiarEstado('@Url.Action("CambiarEstado","Servicios",new {ServicioID=servicio.ServicioID},Context.Request.Scheme)')">Deshabilitar</a>

                                }
                                else
                                {
                                    <a class="text-secondary btn btn-outline-warning" href="javascript:cambiarEstado('@Url.Action("CambiarEstado","Servicios",new {ServicioID=servicio.ServicioID},Context.Request.Scheme)')">Activar</a>

                                }
                                <a class="text-success" href="javascript:mostrarModal2('@Url.Action("DetalleServicio","Servicios",new{ServicioID=servicio.ServicioID},Context.Request.Scheme)','Detalle del cliente')"><i title="Detalle del servicio" class="fas fa-book"></i></a>
                            </div>
                        </td>
                    </tr>
                 }

            </tbody>
        </table>

    </div>
</div>

@section Scripts{
    <script src="~/DataTable/tabla.js"></script>
}

