@*@model List<BeautiSoft.Models.Servicio>*@
<div class="row">
    <div class="col mt-3">
        <a asp-controller="Servicios" asp-action="CrearServicio" class="btn bg-site  mb-3" style="color:white"><i class="fas fa-concierge-bell mr-2"></i>Crear Servicio</a>
        <table class="table table-bordered table-striped table-hover" id="tabla">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col"> Cliente</th>
                    <th scope="col">Servicio</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>5656</td>
                    <td>Keratina</td>
                    <td>cortar pelo</td>
                    <td>car32 #56-27</td>
                    <td>12/05/2021  12:00 p.m.</td>
                    <td>
                        <div class="d-flex justify-content-between">
                            <i title="Editar" class="far fa-edit text-warning"></i>
                            <i title="Deshabilitar" class="fas fa-bell-slash mr-2 text-danger"></i>
                            <i title="Detalle" class="fas fa-book text-success"></i>
                        </div>
                    </td>
                </tr>
                @* @foreach(var Agenda in Model)
                    {
                      <tr>
                          <td scope="row" class="text-center">@Agenda.Id</td>
                          <td>@Agenda.NombreCliente</td>
                          <td class="text-center">@Agenda.Servicio</td>
                           <td>@Agenda.Direccion</td>
                          <td class="text-center">@Agenda.Fecha</td>
                          <td>
                               <div class="d-flex justify-content-between">
                                   <i title="Editar" class="far fa-edit text-warning"></i>
                                   <i title="Deshabilitar" class="fas fa-user-slash text-danger"></i>
                                   <i title="Detalle" class="fas fa-book text-success"></i>
                               </div>
                           </td>
                      </tr>
                    }*@
            </tbody>
        </table>

    </div>
</div>

@section Scripts{
    <script src="~/DataTable/tabla.js"></script>
}
