@model IEnumerable<BeautiSoft.Models.Entidades.Producto>
<div class="row">
    <div class="col mt-3">
        <a onclick="mostrarModal('@Url.Action("CrearProducto","Productos",null,Context.Request.Scheme)','Registrar Producto')" class="btn bg-site mb-3" style="color:white"><i class="fas fa-shopping-basket mr"></i>Registrar Producto</a>
        <div class="table-responsive">
            <table class="table table-bordered" id="tabla">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Imagen</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var producto in Model)
                    {
                        <tr>
                            <td>@producto.Nombre</td>
                            <td>@producto.Cantidad</td>
                            <td>@producto.Precio</td>
                            <td class="p-0"><img style="width:100%;height:80px;padding:0" src="~/Productos/@producto.Imagen" /></td>
                            <td>
                                @if (producto.Estado)
                                {
                                    <span class="badge badge-warning">Activo</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">deshabilitado</span>
                                }
                            </td>
                            <td>

                                <div class="d-flex justify-content-between flex-wrap">
                                    <a class="text-primary" href="javascript:mostrarModal('@Url.Action("ActualizarProducto","Productos",new {ProductoID=producto.ProductoID},Context.Request.Scheme)','Editar Producto')"><i title="Editar" class="far fa-edit"></i></a>

                                    @if (producto.Estado)
                                    {
                                        <a class="text-danger" href="javascript:cambiarEstado('@Url.Action("CambiarEstado","Productos",new {ProductoID=producto.ProductoID },Context.Request.Scheme)')"><i title="Deshabilitar" class="fas fa-slash"></i></a>

                                    }
                                    else
                                    {
                                        <a class="text-warning" href="javascript:cambiarEstado('@Url.Action("CambiarEstado","Productos",new {ProductoID=producto.ProductoID },Context.Request.Scheme)')"><i title="habilitar" class="fas fa-store"></i></a>

                                    }
                                    <a class="text-success" href="javascript:mostrarModal2('@Url.Action("DetalleProducto","Productos",new{ProductoID=producto.ProductoID},Context.Request.Scheme)','Detalle del cliente')"><i title="Detalle del cliente" class="fas fa-book"></i></a>
                                </div>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/DataTable/tabla.js"></script>
}