@model BeautiSoft.Models.Entidades.Cliente

@{
    Layout = null;
}
<div class="row">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover" id="tabla">
            <thead>
                <tr class="text-center">
                    <th>Nombre </th>
                    <th>Documento</th>
                    <th>Tipo</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Dirrecion</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Nombre</td>
                    <td>@Model.Documento</td>
                    <td>@Model.TipoDocument.Nombre</td>
                    <td>@Model.Correo</td>
                    <td>@Model.Telefono</td>
                    <td>@Model.Dirreccion</td>
                    @if (@Model.Estado)
                    {
                        <td>Activo</td>
                    }
                    else
                    {
                        <td>deshabilitado</td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/tabla.js"></script>
}
