@model List<BeautiSoft.Models.Entidades.Compra> 
<div class="row">
    <div class="col mt-3">
        <a onclick="mostrarModal('@Url.Action("CrearCompra","Compras",null,Context.Request.Scheme)','Registrar Compra')" class="btn bg-site mb-3" style="color:white"><i class="fas fa-user-plus mr-2"></i>Registrar Compra</a>
        <table class="table table-bordered table-striped table-hover" id="tabla">
            <thead>
                <tr class="text-center">
                    <th scope="col"> Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>  
                    <th scope="col">Fecha</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                
            @foreach(var Compra in Model)
            {
                <tr>
                    <td scope="row" class="text-center">@Compra.Producto.Nombre</td>
                    <td>@Compra.Cantidad</td>
                    <td class="text-center">@Compra.Precio</td>
                    <td class="text-center">@Compra.Fecha</td>
                    <td>
                        <div class="d-flex justify-content-between">
                            <i title="Editar" class="far fa-edit text-warning"></i>
                            <i title="Deshabilitar" class="fas fa-user-slash text-danger"></i>
                            <i title="Detalle" class="fas fa-book text-success"></i>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>
</div>

@section Scripts{
    <script src="~/DataTable/tabla.js"></script>
}
